<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>dingus</servlet-name>
        <jsp-file>dingus.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>dingus</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
